@import url("mui.css");
@import url("Semantic-UI-CSS/semantic.css");

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body {
  padding: 10px;
}

.line {
  display: flex;
  font-family: DejaVu Sans Mono, monospace;
  cursor: default;
}

.closing:hover {
  padding-left: 20px;
}

.tile {
  line-height: 30px;
  font-size: 20px;
  white-space: nowrap;
}

.tile:hover {
  background: cyan;
}

.space {
  visibility: hidden;
}

.s-expr {
  display: flex;
  align-items: center;
  font-size: 30px;
}

.atom {
  margin-left: 10px;
  margin-right: 10px;
}

.atom:hover {
  cursor: pointer;
  background: cyan;
}
